%h1=@resource[:inputs][:address]

- @resource[:outputs].each do |data_type, time_frames|
  %strong=data_type.upcase
  %table
    %th Annual
    %tr
      %td
        = time_frames[:annual]

    %th Monthly
    - time_frames[:monthly].each do |month, data|
      %tr
        %td= "#{month.capitalize}: #{data}"
  %br
