%h1=@address

- @resource.each do |var, time_frames|
  %strong=var
  %table
    %th Annual
    %tr
      %td
        = time_frames["Annual"]

    %th Monthly
    - time_frames["Monthly"].each do |month, data|
      %tr
        %td= "#{month}: #{data}"
  %br
